
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Information:</strong>
  <%= @group.info %>
</p>

<%= link_to 'Back', groups_path %>